<div class="wishlist-container">
  <h2>My Wishlist</h2>
  <div *ngIf="wishlistItems.length > 0" class="wishlist-items">
    <div *ngFor="let item of wishlistItems" class="wishlist-item">
      <img
        [src]="item.product.image"
        [alt]="item.product.title"
        class="item-image"
      />
      <div class="item-details">
        <h3>{{ item.product.title }}</h3>
        <p class="item-price">${{ item.product.price.toFixed(2) }}</p>
        <div class="item-actions">
          <button (click)="addToCart(item.product)" class="btn-add-to-cart">
            Add to Cart
          </button>
          <button
            (click)="removeFromWishlist(item.product.id)"
            class="btn-remove"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="wishlistItems.length === 0" class="empty-wishlist">
    <p>Your wishlist is empty. Start adding items you love!</p>
    <button routerLink="/products" class="btn-shop">Shop Now</button>
  </div>
</div>
